:root {
    /* =========== COLORS ============== */
    --first-color: #ff0157;
    --first-color-alt: #ff266b;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /* =============== FONT ============== */
    --body-font: 'Poppins', sans-serif;
    --titlefont: 'Raleway', sans-serif;
    --banner-font: 5em;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-light: 300;
}

@media screen and (min-width: 768px) {
    :root {
        --banner-font: 3em;
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    overflow-x: hidden;
}

.salmon {
    background-color: salmon;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-size: var(--h1-font-size);
    color: var(--title-color);

}

.title span {
    color: var(--first-color);
    font-size: var(--biggest-font-size);
}

/* ========= BUTTON ========== */
.primary-button {
    font-size: var(--normal-font-size);
    background-color: var(--first-color);
    color: white;
    padding: 10px 30px;
    /* border-radius: 20px; */
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
    font-weight: var(--font-semi-bold);
}

.primary-button:hover {
    cursor: pointer;
    background-color: var(--first-color-alt);
    letter-spacing: 4px;
}

/* ==== SECTION ==== */
section {
    width: 100%;
}

.section-ct {
    display: block;
    padding: 80px 0;

}

.section-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/section-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ==== NAVIGATION === */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    /* background-color: #fff; */
    z-index: 100;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 10px 30px;
}

.logo {
    color: white;
    font-weight: var(--font-semi-bold);
    font-family: var(--titlefont);
    font-size: var(--h1-font-size);
}

.logo span {
    color: var(--first-color-alt);
}


.nav-link ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link li {
    list-style: none;

}

.nav-link li a {
    font-size: var(--h3-font-size);
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
}


.nav-link li:hover a {
    color: var(--first-color-alt);
}

.menutoogle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menutoogle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;

}

.menutoogle input {
    position: absolute;
    width: 50px;
    height: 25px;
    top: -3px;
    left: -15px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    /*apabila cekbox diblakang span seetelah transition*/

}

.menutoogle span:nth-child(2) {
    /* nth child menunjuk pada child dimenutoogle*/
    transform-origin: 0 0;
}

.menutoogle span:nth-child(4) {
    transform-origin: 0 0%;
}

.menutoogle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: var(--body-color);
}

.menutoogle input:checked~span:nth-child(3) {
    transform: scale(0);
}

.menutoogle input:checked~span:nth-child(4) {
    transform: rotate(-45deg)translate(-2px, -1px);
    background-color: var(--body-color);
}


/* ======== sticky =============*/
header.sticky {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header.sticky .logo {
    color: var(--title-color);
}


header.sticky .nav-link a {
    color: var(--title-color);
}

header.sticky .nav-link a:hover {
    color: var(--first-color-alt);
}

header.sticky .menutoogle span {
    background-color: var(--title-color);
}

header.sticky .menutoogle input:checked~span:nth-child(2) {
    background-color: var(--title-color);
}


header.sticky .menutoogle input:checked~span:nth-child(4) {
    background-color: var(--title-color);
}

/* ========= BANNER ======== */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/bg.jpg');
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-family: var(--titlefont);
    font-size: var(--banner-font);
    color: white;
    margin-bottom: 20px;

}

.banner .content p {
    font-size: var(--normal-font-size);
    color: white;
    margin-bottom: 40px;
}

/* === CONTAINER === */
.container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px;
}

.col {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    text-align: center;
    flex-direction: column;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}


.imgbx {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ==========SERVICES========== */
.services__container {
    margin: 0 auto;
    width: 90%;
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: 20px;
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: 10px;
}

.services__description {
    padding: 0 1.5rem;
}

/* menu======== */
.container-mn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 68%;
}

.menu {
    width: 25%;
    border-radius: 5px;
    background-color: var(--body-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    transition: 1s;
    margin: 10px;
}

.menu:hover {
    box-shadow: rgba(0, 0, 1, 0.24) 0px 5px 20px;
}

.menu .menuimg {
    margin: 10px auto 20px;
}

.menuimg img {
    object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu .textfield {
    margin-bottom: 2px;
    text-align: left;
    padding: 0px 20px;
}

.menu .textfield h2 {
    font-size: var(--h3-font-size);
}

.menu .textfield p {
    font-size: var(--small-font-size);
}

.mn-btn {
    position: relative;
    margin-left: auto;
    margin-right: 0;
}

.mn-btn a {
    display: inline-block;
    width: 50px;
    padding: 5px 0;

    text-align: center;
    font-size: var(--normal-font-size);
    background-color: var(--first-color);
    border-radius: 15px 0 5px;
    transition: 1s;
}

.mn-btn a:hover {
    background-color: var(--first-color-alt);
}

.mn-btn a i {
    color: var(--body-color);
    font-size: var(--h3-font-size);
}

/* OUR MENU  */
.ourmenu .container-mn {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.ourmenu .container-mn .box {
    width: 340px;
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 35px;
}

.box .imgbox {
    position: relative;
    width: 100%;
    height: 300px;

}

.box .imgbox img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.box .textfield {
    text-align: left;
    padding: 15px 0 5px;
}

.box .textfield h3 {
    color: var(--title-color);
    font-weight: 400;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: var(--normal-font-size);
}

/* === CHEF === */

/*========= CHEF ======= */
.chef .container {
    width: 70%;
    display: flex;
    justify-content: center;
}

.chef .container .box {
    width: 28%;
    display: flex;
    margin: 0 20px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 5px 35px;

}

.chef .container .box .imgbox {
    width: 100%;
    height: 350px;

}

.chef .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.chef .box .text {
    margin: 5px 0 10px;
}

.chef .box .text h3 {
    color: var(--title-color);
    font-size: var(--h3-font-size);
}

/* ======== TESTIMONIAL ======= */
.section-bg .h1title {
    color: var(--body-color);
}

.rounded-img {
    width: auto;
    margin-bottom: 30px;
}

.rounded-img img {
    object-fit: cover;
    object-position: center;
    width: 80px;
    height: 70px;
    border-radius: 50%;
}

.testimoni .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px;
}

.testimoni .box {
    padding: 20px;
    width: 28%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 5px 35px;
}

.testimoni .box .text {
    margin: 0 0 20px;
    text-align: center;
}

.testimoni .box .text h3 {
    font-size: var(--h3-font-size);
    color: var(--first-color-alt);
}

.testimoni .title {
    color: var(--body-color);
}

.testimoni .title span {
    color: var(--first-color);
}

/* ====== CONTACT US ======= */
.contact .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px auto;
}

.shadow {
    padding: 40px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 5px 24px;
}

.contact .col {
    width: 90%;
    margin: 5px auto;
}

.contact .half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inp {
    width: 49%;
}

.form {
    width: 100%;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    font-size: 14px;
}

.form:focus {
    outline: none;
    border: 2px solid #0b7dda;
}

textarea {
    min-height: calc(1.5rem+.75rem+2px);
    resize: vertical;
    font-family: inherit;
}

.contact .col .primary-button {
    display: inline-block;
    margin-top: 30px;
}

/*======= FOOTER ========== */

.footer {
    background-color: #333;
    margin: 0;
    padding: 80px 0 20px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.footer .container .col {
    display: flex;
    width: 30%;
    height: 300px;
    flex-direction: column;
}

.footer .textfield {
    text-align: left;
    margin: 0 0 5px;
    padding: 0 10px;
}

.footer .textfield h3 {
    color: white;
    font-size: var(--h2-font-size);
}

.footer .textfield h3 span {
    color: var(--first-color);
}

.footer .textfield p {
    width: 60%;
    color: var(--text-color-light);
    margin-bottom: 10px;
}

.footer .textfield a {
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
    margin-right: 5px;
}

.footer .textfield a:hover {
    color: var(--first-color-alt);
}

.footer .textfield a i {
    font-size: var(--h3-font-size);
    color: white;
}



/* ====== RESPONSIVE TABLET ====== */
@media screen and (max-width:820px) {

    .banner .content {
        width: 80%;
    }

    .banner .content h2 {
        font-size: 3rem;
        margin-bottom: 40px;
        letter-spacing: 2px;
    }

    .banner .content p {
        font-size: var(--small-font-size);
    }

    .about .container {
        flex-direction: column;
    }

    .about .col2 {
        width: 100%;
        margin-bottom: 40px;
    }


    /* ===== popular menu ======= */
    .container-mn {
        flex-wrap: wrap;
    }

    .col3.menu {
        margin-bottom: 20px;
        width: 40%;
    }

    /* ======= OUR CHEF ======= */
    .chef .container {
        flex-direction: column;
    }

    .chef .container .box {
        width: 60%;
        margin: 20px 0;
    }

    /*====== Testimonial ========= */
    .testimoni .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimoni .container .box {
        width: 45%;
        margin: 20px 10px;
    }

}

@media screen and (max-width:576px) {

    /* navbar  */
    .menutoogle {
        display: flex;

    }

    .nav-link {
        /* display: none; */
        width: 100%;
        position: fixed;
        text-align: center;
        transform: translatex(150%);
        top: 49px;
        left: 0;
        background-color: rgba(1, 1, 1, 0.5);
        transition: .5s;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link ul {
        width: 100%;
        flex-direction: column;
    }


    .nav-link li a {
        text-transform: inherit;
        padding: .5rem 1rem;
        color: var(--body-color);
    }

    header.sticky .nav-link.slide {
        background-color: white;
    }

    .nav-link.slide {
        transform: translatex(0);
        display: flex;
    }

    /* === BANNER === */

    .banner .content {
        width: 80%;
    }

    .banner .content h2 {
        font-size: 3rem;
        margin-bottom: 40px;
        letter-spacing: 2px;
    }

    .banner .content p {
        font-size: var(--small-font-size);
    }

    /* === CONTAINER === */
    .container {
        flex-direction: column;
        width: 80%;
    }

    .col2 {
        width: 100%;
    }

    .about .col2 p {
        text-align: justify;
    }

    /* ===== popular menu ======= */
    .container-mn {
        flex-direction: column;
    }

    .col3.menu {
        margin-bottom: 20px;
        width: 80%;
    }

    /* ========== OUr MENU ========== */
    .ourmenu .container-mn .box {
        width: 100%;
        margin: 20px 0;
    }

    .ourmenu .container-mn .box .imgbox {
        height: 200px;
    }

    /* ======= OUR CHEF ======= */
    .chef .container .box {
        width: 100%;
        margin: 20px 0;
    }

    /*====== Testimonial ========= */
    .testimoni .container .box {
        width: 80%;
        margin: 20px 0;
    }

    /* === CONTACT US === */
    .col.half {
        flex-direction: column;
    }

    .inp {
        width: 100%;
    }

    .half :nth-child(1) {
        margin-bottom: 10px;
    }

    /* ======= FOOTER ========== */

    .footer .container .col {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer .col.copyright {
        padding: 20px 0;
    }
}